body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
}

.mainBody, .leftBody, .midBody, .rightBody {
    display: flex;
}

.mainBody {
    width: 100%;
    height: 100%;
    align-items: stretch;
    justify-content: space-evenly;
}

.leftBody, .midBody, .rightBody {
    flex-direction: column;
    align-self: center;
}

#playerHealthBackground, #computerHealthBackground {
    width: 100px;
    height: 20px;
    border-radius: 5px;
    background-color: lightgray;
}

#playerHealth, #computerHealth {
    width: 100px;
    height: 20px;
    border-radius: 5px;
    background-color: green;
}

.menuOptions {
    display: flex;
    align-self: center;
}

button {
    margin: 0px 10px;
}

#startResetBtn {
    height: 30px;
    width: 70px;
}

#resetGame {
    margin-right: 0;
}

#optionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Rock, #Paper, #Scissors {
    height: 100px;
    width: 100px;
}

#choices {
    display: flex;
    flex-direction: row;
}

#pChoice, #cChoice {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 5px;
    
}